# .NET Core
Backend/bin/
Backend/obj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Frontend (React/Vite)
Frontend/node_modules/
Frontend/dist/
Frontend/.env*
Frontend/.eslintcache

# OS Files
.DS_Store
Thumbs.db

# Secrets
Backend/appsettings.json
Backend/appsettings.Development.json
!Backend/appsettings.json
!Backend/appsettings.Development.json
firebase-key.json


# Root files
build_log.txt
build.log
